.ant-carousel .slick-slide {
    text-align: center;
    /* height: 50%;
    line-height: 50%; */
    background: #364d79;
    overflow: hidden;
  }
  /* .home_page{
      height: 100%;
  }
  .home_page div{
      height: 100%;
  } */
