*{
  padding: 0;
  margin: 0;
}
body,html,#root{
  width: 100%;
  height: 100%;
}
/* 美化滚动条 */
::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: #777;
}